#profile-container {
	font: 17px "Tahoma";
}
#profile-container table {
	margin-top: 20px;
}
#profile-container table tr td {
	padding: 10px 5px;
}
#profile-picture-container {
	border: 1px solid #999;
	width: 230px;
	height: 230px;
	background: #fff;
	border-radius: 5px;
	overflow: none;
}
#profile-picture-container button {
	margin: 2px;
}
#img-signature {
	width: 250px;
	height: 250px;
}