#employee-container {
/* 	margin: 80px auto; */
}
#table-employees {
	margin: 10px;
	z-index: 0;
}

#search-container {
	margin-left: 10px;
}
.cbo-position {
	display: none;
}
#cbo-status {
	display: none;
}
.invalid {
	background: red;
}
#tr-view-employee-info:hover {
	background: #999;
}
.add-cont{
	padding: 0 10px;
}